<?xml version="1.0"?>
<config>
    <sections>
        <sales translate="label" module="sales">
            <groups>
                <cmorderproducts translate="label,comment">
                    <label>Orders Grid Products Column</label>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <render translate="label">
                            <label>Display Column</label>
                            <sort_order>10</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>Cm_OrderProducts_Model_System_Config_Source_Render</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </render>
                        <filter translate="label">
                            <label>Filter Column</label>
                            <sort_order>20</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>Cm_OrderProducts_Model_System_Config_Source_Filter</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </filter>
                    </fields>
                </cmorderproducts>
            </groups>
        </sales>
    </sections>
</config>
